@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --details: #f1b669;
  --background: linear-gradient(to right, #553d36 0%, #937d64 100%);
  --header: #4b362f;
  --cart: #553d36d7;
  --products: #553d36b4;
  --fontsLight: snow;
  --fontsDark: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scrollbar-width: none;
}

body {
  background: var(--background);
}

.body-blur::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  pointer-events: all;
}
